.flipped .cardInner {
  transform: rotateY(180deg);
}
.cardInner {
  transition: transform 0.5s 0s;
  transform-style: preserve-3d;
}

.front,
.back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
