.tableRow {
  --bg-color: hsl(var(--background));

  a[class*="hoverLink"] {
    opacity: 0;
  }
  button[class*="hoverLink"] {
    opacity: 0;
  }

  &:hover {
    --bg-color: #0f1729; // background + 10% muted

    a[class*="hoverLink"] {
      opacity: 100;
    }
    button[class*="hoverLink"] {
      opacity: 100;
    }
  }
}
