.root {
  div[class$="appContent"] {
    padding: 0;
    margin: 0;
    max-width: none;

    button[class*="MuiButton-containedPrimary"] p {
      font-family: var(--supply-mono);
      text-transform: uppercase;
    }

    div[class*="connectWallet"] p {
      font-family: var(--supply-mono);
      text-transform: uppercase;
    }

    > div[class*="bridgeContent"] {
      > div[class*="-container"] {
        display: none;
      }
    }
  }
}
