.root {
  div[class$="appContent"] {
    padding: 0;
    margin: 0;
    max-width: none;

    button[class*="swapButton"] {
      display: flex;
    }

    button[class*="MuiButton-containedPrimary"] {
      border-radius: 6px;

      span,
      p {
        font-family: var(--supply-mono);
        text-transform: uppercase;
      }

      &:not([class*="claimButton"]) {
        span,
        p {
          color: hsl(var(--primary-foreground));
        }
      }
    }

    svg[class*="MuiSvgIcon-root-fastestBadge"] {
      top: 0;
    }

    div[class*="connectWallet"] p {
      font-family: var(--supply-mono);
      text-transform: uppercase;
    }

    span[class*="MuiSlider-rail"] {
      background-color: currentColor;
    }
  }
}
